<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="StringSetting" value="Some String"/>
    <add key="IntSetting" value="35"/>
    <add key="DoubleSetting" value="36.262"/>
    <add key="DateTimeSetting" value="11/23/2012"/>
    <add key="BooleanSetting" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
